{% extends 'layout.html' %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Change Password</h1>

{{ shared_macros.flash_messages() }}

<section>
	<form class="generic-form" method="post" action="{{ url_for('change_password') }}">
		<label for="old-password">Old password</label>
		<input type="password" class="text-input" id="old-password" name="old-password" required/>
		<label for="new-password">New password</label>
		<input type="password" class="text-input" id="new-password" name="new-password" required/>
		<label for="new-password-confirmation">Confirm new password</label>
		<input type="password" class="text-input" id="new-password-confirmation" name="new-password-confirmation" required/>
		<button type="submit">Change Password</button>
	</form>
</section>
{% endblock %}
