# Build
.build/

# Environment
environment.json

# Generated scripts
master/setup.py
model/setup.py
service/setup.py
website/setup.py
worker/setup.py

# Python
__pycache__/
*.egg-info/

# Tests
test_results/

# Visual Studio Code
.vscode/
