# Build
build_results/

# Distribution
master/build/
master/dist/
model/build/
model/dist/
service/build/
service/dist/
website/build/
website/dist/
worker/build/
worker/dist/

# Environment
environment.json

# Python
__pycache__/
.pytest_cache/
*.egg-info/

# Tests
test_results/

# Visual Studio Code
.vscode/
