# Artifacts
/artifacts/

# Distribution
/cli/build/
/cli/dist/
/master/build/
/master/dist/
/model/build/
/model/dist/
/service/build/
/service/dist/
/website/build/
/website/dist/
/worker/build/
/worker/dist/

# Environment
environment.json

# Generated metadata
__metadata__.py

# Logs
*.log

# Python
__pycache__/
.pytest_cache/
*.egg-info/

# Python virtual environment
.venv/

# Visual Studio Code
.vscode/
