<!doctype html>
<html>

	<head>
		<title>{{ title }} - Build Service</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'generic.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'build_service.css') }}">
	</head>

	<body>

		<header>
			<div class="title">
				<a href="{{ url_for('home') }}">Build Service</a>
			</div>
			<div class="login">
				{% if not "token" in session %}
				<span><a href="{{ url_for('login') }}">Log In</a></span>
				{% else %}
				<span>Logged in as <a href="{{ url_for('my_profile') }}">{{ session["token"]["user_identifier"] }}</a></span>
				<span><a href="{{ url_for('logout') }}">Log Out</a></span>
				{% endif %}
			</div>
		</header>

		<nav>
			<div>
				<a href="{{ url_for('administration_index') }}">Admin</a>
				<a href="{{ url_for('user_collection_index') }}">Users</a>
			</div>
			<div>
				<a href="{{ url_for('job_collection_index') }}">Jobs</a>
				<a href="{{ url_for('build_collection_index') }}">Builds</a>
				<a href="{{ url_for('artifact_storage_index') }}">Artifacts</a>
				<a href="{{ url_for('worker_collection_index') }}">Workers</a>
				<a href="{{ url_for('task_collection_index') }}">Tasks</a>
			</div>
		</nav>

		<main>

			{% block content %}{% endblock %}

		</main>

		<footer>
			<p>Copyright © 2019 Benjamin Hamon</p>
		</footer>

	</body>

	{% block scripts %}{% endblock %}

</html>
