{% extends 'layout.html' %}
{% import 'task/macros.html' as task_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Tasks</h1>
<section>
	<div class="table-container">
		<form method="get" action="{{ url_for('task_collection_index') }}">
			<label for="input-run">Run</label>
			<input type="text" class="uuid-input" id="input-run" name="run" value="{{ request.args.get('run', '') }}"/>
			<label for="input-worker">Worker</label>
			<select id="input-worker" name="worker">
				<option></option>
				{% for worker in worker_collection %}
					{% if request.args.get('worker') == worker['identifier'] %}
				<option selected>{{ worker['identifier'] }}</option>
					{% else %}
				<option>{{ worker['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="input-status">Status</label>
			<select id="input-status" name="status">
				<option></option>
				{% for status in status_collection %}
					{% if request.args.get('status') == status %}
				<option selected>{{ status }}</option>
					{% else %}
				<option>{{ status }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<button type="submit">Apply filters</button>
		</form>
		{{ task_macros.task_table(task_collection) }}
		{{ shared_macros.page_navigation('task_collection_index', pagination) }}
	</div>
</section>
{% endblock %}
