.action-group
{
	display: flex;
	flex-direction: row;
}

section > .action-group button
{
	padding: 5px;
	min-width: 100px;
}

td > .action-group button
{
	min-width: 80px;
}

.status-grid
{
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
}

.status-grid.readonly
{
	grid-template-columns: auto;
}

.status-grid button
{
	min-width: 80px;
}

.status-group
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.status-indicator
{
	display: inline-block;
	flex-shrink: 0;
	height: 16px;
	width: 16px;
	margin-right: 5px;
	border: 1px solid gray;
	border-radius: 50%;
}

.status-indicator.pending { background-color: lightblue; }
.status-indicator.running { background-color: yellow; }
.status-indicator.cancelled { background-color: gray; }
.status-indicator.skipped { background-color: gray; }
.status-indicator.succeeded { background-color: green; }
.status-indicator.failed { background-color: red; }
.status-indicator.aborted { background-color: purple; }
.status-indicator.exception { background-color: purple; }

.status-indicator.available { background-color: green; }
.status-indicator.unavailable { background-color: red; }

.status-indicator.active { background-color: green; }
.status-indicator.inactive { background-color: gray; }

.status-indicator.enabled { background-color: green; }
.status-indicator.disabled { background-color: gray; }

.status-indicator.okay { background-color: green; }
.status-indicator.warning { background-color: yellow; }
.status-indicator.critical { background-color: red; }

.uuid-input
{
	width: 250px;
}

.text-input
{
	width: 250px
}

.textarea-input
{
	width: 360px;
}

.project-status-table > thead
{
	white-space: normal;
}

.revision-header > a
{
	text-align: center;
}

.revision-header > .date
{
	font-size: 80%;
}

#log-text
{
	align-self: stretch;
}
