{% macro task_table(task_collection) %}
<table>
	<thead>
		<tr>
			<th>Type</th>
			<th>Identifier</th>
			<th>Status</th>
			{% if authorize_view("task-actions") %}
			<th>Actions</th>
			{% endif %}
			<th>Creation date</th>
			<th>Update date</th>
		</tr>
	</thead>
	<tbody>
		{% for task in task_collection %}
		<tr>
			<td>{{ task['type'] }}</td>
			<td>{{ task['identifier'] }}</td>
			<td>
				<div class="status-group">
					<div class="status-indicator {{ task['status'] }}"></div>
					<div class="status-text">{{ task['status'] }}</div>
				</div>
			</td>
			{% if authorize_view("task-actions") %}
			<td>
				<form class="action-group" method="post">
					{% if task['status'] == 'pending' %}
					<button formaction="{{ url_for('task_controller.cancel', task_identifier = task['identifier']) }}">Cancel</button>
					{% else %}
					<button formaction="{{ url_for('task_controller.cancel', task_identifier = task['identifier']) }}" disabled>Cancel</button>
					{% endif %}
				</form>
			</td>
			{% endif %}
			<td>{{ task['creation_date'] }}</td>
			<td>{{ task['update_date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
