{% extends 'layout.html' %}
{% import 'run/macros.html' as run_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Runs</h1>
<section>
	<div class="table-container">
		<form method="get" action="{{ url_for('run_collection_index') }}">
			<label for="input-project">Project</label>
			<select id="input-project" name="project">
				<option></option>
				{% for project in project_collection %}
					{% if request.args.get('project') == project['identifier'] %}
				<option selected>{{ project['identifier'] }}</option>
					{% else %}
				<option>{{ project['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="input-job">Job</label>
			<select id="input-job" name="job">
				<option></option>
				{% for job in job_collection %}
					{% if request.args.get('job') == job['identifier'] %}
				<option selected>{{ job['identifier'] }}</option>
					{% else %}
				<option>{{ job['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="input-worker">Worker</label>
			<select id="input-worker" name="worker">
				<option></option>
				{% for worker in worker_collection %}
					{% if request.args.get('worker') == worker['identifier'] %}
				<option selected>{{ worker['identifier'] }}</option>
					{% else %}
				<option>{{ worker['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="input-status">Status</label>
			<select id="input-status" name="status">
				<option></option>
				{% for status in status_collection %}
					{% if request.args.get('status') == status %}
				<option selected>{{ status }}</option>
					{% else %}
				<option>{{ status }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<button type="submit">Apply filters</button>
		</form>
		{{ shared_macros.page_navigation('run_collection_index', pagination) }}
		{{ run_macros.run_table(run_collection) }}
		{{ shared_macros.page_navigation('run_collection_index', pagination) }}
	</div>
</section>
{% endblock %}
