{% extends 'layout.html' %}
{% import 'task/macros.html' as task_macros %}

{% block content %}
<h1>Run {{ run['identifier'] }}</h1>

<section>
	<div class="link-group">
		<a href="{{ url_for('download_run_archive', run_identifier = run['identifier']) }}">Download as archive</a>
	</div>
</section>

<section>
	<h2>Status</h2>
	<div class=status-grid>
		<div class="status-group">
			<div class="status-indicator {{ run['status'] }}"></div>
			<div class="status-text">{{ run['status'] }}</div>
		</div>
		{% if authorize_view("run-actions") %}
		<form method="post">
			{% if run['status'] == 'running' %}
			<button formaction="{{ url_for('abort_run', run_identifier = run['identifier']) }}">Abort</button>
			{% else %}
			<button formaction="{{ url_for('abort_run', run_identifier = run['identifier']) }}" disabled>Abort</button>
			{% endif %}
		</form>
		{% endif %}
	</div>
	<ul>
		<li>Job: <a href="{{ url_for('job_index', job_identifier = run['job']) }}" style="display: inline">{{ run['job'] }}</a></li>
		<li>Worker: {% if run['worker'] %}<a href="{{ url_for('worker_index', worker_identifier = run['worker']) }}" style="display: inline">{{ run['worker'] }}</a>{% endif %}</li>
		<li>Creation date: {{ run['creation_date'] }}</li>
		<li>Update date: {{ run['update_date'] }}</li>
		<li>Start date: {% if 'start_date' in run %}{{ run['start_date'] }}{% endif %}</li>
		<li>Completion date: {% if 'start_date' in run %}{{ run['completion_date'] }}{% endif %}</li>
	</ul>
</section>

<section>
	<h2>Parameters</h2>
	<ul>
		{% for key, value in run['parameters'].items() %}
		<li>{{ key }}: {{ value }}</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>Steps</h2>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Status</th>
				<th>Details</th>
				<th>Raw log</th>
			</tr>
		</thead>
		<tbody>
			{% for step in run_steps %}
			<tr>
				<td>{{ step['index'] }}</td>
				<td>{{ step['name'] }}</td>
				<td>
					<div class="status-group">
						<div class="status-indicator {{ step['status'] }}"></div>
						<div class="status-text">{{ step['status'] }}</div>
					</div>
				</td>
				<td><a href="{{ url_for('run_step', run_identifier = run['identifier'], step_index = step['index']) }}">Details</a></td>
				<td><a href="{{ url_for('run_step_log', run_identifier = run['identifier'], step_index = step['index']) }}">Raw log</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>

<section>
	<h2>Results</h2>
	<ul>
		{% if run_results.get('revision_control', {}) %}
		<li>
			<p>Revision Control</p>
			<ul>
				<li>
					<span>
						<a href="{{ run_results['revision_control']['url'] }}" style="display: inline">
							{{ run_results['revision_control']['revision'] }}
						</a>
					</span>
					<span>
						({{ run_results['revision_control']['date'] }})
					</span>
				</li>
			</ul>
		</li>
		{% endif %}
		{% if run_results.get('child_runs', []) %}
		<li>
			<p>Child Runs</p>
			<ul>
				{% for child_run in run_results['child_runs'] %}
				<li>
					<a href="{{ url_for('run_index', run_identifier = child_run['run_identifier']) }}">
						{{ child_run['job_identifier'] }} {{ child_run['run_identifier'] }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% if run_results.get('tests', []) %}
		<li>
			<p>Tests</p>
			<ul>
				{% for test_run in run_results['tests'] %}
				<li>
					<span>
						{{ test_run['run_type'] }} {{ 'succeeded' if test_run['success'] else 'failed ' }}
					</span>
					{% if test_run.get('summary_text', none) %}
					<span>
						({{ test_run['summary_text'] }})
					</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% if run_results.get('artifacts', []) %}
		<li>
			<p>Artifacts</p>
			<ul>
				{% for artifact in run_results['artifacts'] %}
				<li>
					<a href="{{ artifact['url'] }}">
						{{ artifact['name'] }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% if run_results.get('distributions', []) %}
		<li>
			<p>Distributions</p>
			<ul>
				{% for distribution in run_results['distributions'] %}
				<li>
					<a href="{{ distribution['url'] }}">
						{{ distribution['name'] }} {{ distribution['version'] }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
	</ul>
</section>

<section>
	<h2><a href="{{ url_for('task_collection_index', run = run['identifier']) }}" title="View all tasks">Tasks</a></h2>
	{{ task_macros.task_table(run_tasks) }}
</section>
{% endblock %}
