{% macro run_table(run_collection) %}
<table>
	<thead>
		<tr>
			<th>Project</th>
			<th>Job</th>
			<th>Run</th>
			<th>Status</th>
			{% if authorize_view("run-actions") %}
			<th>Actions</th>
			{% endif %}
			<th>Worker</th>
			<th>Creation date</th>
			<th>Update date</th>
		</tr>
	</thead>
	<tbody>
		{% for run in run_collection %}
		<tr>
			<td><a href="{{ url_for('project_controller.show', project_identifier = run['project']) }}">{{ run['project_display_name'] }}</a></td>
			<td><a href="{{ url_for('job_controller.show', project_identifier = run['project'], job_identifier = run['job']) }}">{{ run['job_display_name'] }}</a></td>
			<td><a href="{{ url_for('run_controller.show', project_identifier = run['project'], run_identifier = run['identifier']) }}">{{ run['identifier'] }}</a></td>
			<td>
				<div class="status-group">
					<div class="status-indicator {{ run['status'] }}"></div>
					<div class="status-text">{{ run['status'] }}</div>
				</div>
			</td>
			{% if authorize_view("run-actions") %}
			<td>{{ run_actions(run) }}</td>
			{% endif %}
			<td>{% if run['worker'] %}<a href="{{ url_for('worker_controller.show', worker_identifier = run['worker']) }}">{{ run['worker_display_name'] }}</a>{% endif %}</td>
			<td>{{ run['creation_date'] }}</td>
			<td>{{ run['update_date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}

{% macro run_actions(run) %}
<form class="action-group" method="post">
	{% if run['status'] == 'pending' %}
		{% if run['should_cancel'] %}
	<button formaction="{{ url_for('run_controller.cancel', project_identifier = run['project'], run_identifier = run['identifier']) }}" disabled>Cancelling</button>
		{% else %}
	<button formaction="{{ url_for('run_controller.cancel', project_identifier = run['project'], run_identifier = run['identifier']) }}">Cancel</button>
		{% endif %}
	{% elif run['status'] == 'running' %}
		{% if run['should_abort'] %}
	<button formaction="{{ url_for('run_controller.abort', project_identifier = run['project'], run_identifier = run['identifier']) }}" disabled>Aborting</button>
		{% else %}
	<button formaction="{{ url_for('run_controller.abort', project_identifier = run['project'], run_identifier = run['identifier']) }}">Abort</button>
		{% endif %}
	{% endif %}
</form>
{% endmacro %}

{% macro pipeline_svg(pipeline) %}
{% set cell_width = pipeline['cell_width'] %}
{% set cell_height = pipeline['cell_height'] %}
{% set cell_padding_horizontal = pipeline['cell_padding_horizontal'] %}
{% set cell_padding_vertical = pipeline['cell_padding_vertical'] %}

<svg class="pipeline" width="{{ pipeline['grid_width'] }}" height="{{ pipeline['grid_height'] }}">

	<style>
		.cell-border
		{
			visibility: hidden;
			fill: none;
			stroke: gray;
		}

		.node-border
		{
			fill: transparent;
			stroke: black;
			rx: 4;
		}

		.has-link > .node-border:hover
		{
			fill: #f0f8ff;
		}

		.node-text
		{
			dominant-baseline: middle;
			font-size: small;
		}

		.status-indicator
		{
			fill: none;
			stroke: gray;
		}

		.status-indicator.pending { fill: lightblue; }
		.status-indicator.running { fill: yellow; }
		.status-indicator.cancelled { fill: gray; }
		.status-indicator.skipped { fill: gray; }
		.status-indicator.succeeded { fill: green; }
		.status-indicator.failed { fill: red; }
		.status-indicator.aborted { fill: purple; }
		.status-indicator.exception { fill: purple; }

		.edge
		{
			fill: none;
		}
	</style>

	{% for node in pipeline['nodes'] %}
		{% set cell_x = cell_width * node['column'] %}
		{% set cell_y = cell_height * node['row'] %}
	<!-- Node '{{ node['identifier'] }}' -->
	{% if node['run']['identifier'] != None %}
	<a class="has-link" href="{{ url_for('run_controller.show', project_identifier = node['run']['project'], run_identifier = node['run']['identifier']) }}">
	{% else %}
	<a>
	{% endif %}
		<rect class="cell-border"
				x="{{ cell_x }}" y="{{ cell_y }}"
				width="{{ cell_width }}" height="{{ cell_height }}"/>
		<rect class="node-border"
				x="{{ cell_x + cell_padding_horizontal }}" y="{{ (cell_y + cell_padding_vertical / 2) | int }}"
				width="{{ cell_width - cell_padding_horizontal * 2 }}" height="{{ cell_height - cell_padding_vertical }}"/>
		<text class="node-text" x="{{ cell_x + cell_padding_horizontal + 10 }}" y="{{ (cell_y + cell_height / 2 + 1) | int }}">{{ node['identifier'] }}</text>
		<circle class="status-indicator {{ node['run']['status'] }}"
				cx="{{ (cell_x + cell_width - cell_padding_horizontal - 15) | int }}" cy="{{ (cell_y + cell_height / 2) | int }}" r="8"/>
	</a>
	{% endfor %}

	{% for edge in pipeline['edges'] %}
	<!-- Edge from '{{ edge['start']['identifier'] }}' to '{{ edge['end']['identifier'] }}' -->
	<path class="edge" stroke="{{ edge['color'] }}" d="{{ edge['path_svg'] }}"/>
	{% endfor %}

</svg>
{% endmacro %}
