{% extends 'layout.html' %}

{% block content %}
<h1>
	Project <a href="{{ url_for('project_controller.show', project_identifier = project['identifier']) }}">{{ project['display_name'] }}</a>
	/ Run <a href="{{ url_for('run_controller.show', project_identifier = project['identifier'], run_identifier = run['identifier']) }}">{{ run['identifier'] }}</a>
	/ Step {{ current['index'] }} {{ current['name'] }}
</h1>

<section>
	<div class="page-navigation">
		{% if previous %}
		<a href="{{ url_for('run_controller.show_step', project_identifier = run['project'], run_identifier = run['identifier'], step_index = previous['index']) }}" title="Previous step"> < </a>
		{% else %}
		<a title="Previous step" class="disabled"> < </a>
		{% endif %}
		<a href="{{ url_for('run_controller.show', project_identifier = run['project'], run_identifier = run['identifier']) }}">Index</a>
		{% if next %}
		<a href="{{ url_for('run_controller.show_step', project_identifier = run['project'], run_identifier = run['identifier'], step_index = next['index']) }}" title="Next step"> > </a>
		{% else %}
		<a title="Next step" class="disabled"> > </a>
		{% endif %}
	</div>
</section>

<section>
	<h2>Status</h2>
	<div class="status-grid">
		<div class="status-group">
			<div class="status-indicator {{ current['status'] }}"></div>
			<div class="status-text">{{ current['status'] }}</div>
		</div>
	</div>
</section>

<section>
	<h2><a href="{{ url_for('run_controller.show_step_log', project_identifier = run['project'], run_identifier = run['identifier'], step_index = current['index']) }}">Log</a></h2>
	<pre id="log-text">{{ log_text }}</pre>
</section>

{% endblock %}

{% block scripts %}
<script type="module">
	window.viewData = {
		projectIdentifier: "{{ run['project'] }}",
		runIdentifier: "{{ run['identifier'] }}",
		stepIndex: parseInt("{{ current['index'] }}"),
		stepStatus: "{{ current['status'] }}",
		logCursor: "{{ log_cursor }}",
	};
</script>

<script type="module" src="{{ url_for('static', filename = 'orchestra/modules/views/runStepView.mjs') }}"></script>
{% endblock %}
