{% extends 'layout.html' %}
{% import 'job/macros.html' as job_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Jobs</h1>
<section>
	<div class="table-container">
		<form method="get" action="{{ url_for('job_controller.show_collection') }}">
			<label for="input-project">Project</label>
			<select id="input-project" name="project">
				<option></option>
				{% for project in project_collection %}
					{% if request.args.get('project') == project['identifier'] %}
				<option selected>{{ project['identifier'] }}</option>
					{% else %}
				<option>{{ project['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<button type="submit">Apply filters</button>
		</form>
		{{ shared_macros.page_navigation('job_controller.show_collection', pagination) }}
		{{ job_macros.job_table(job_collection) }}
		{{ shared_macros.page_navigation('job_controller.show_collection', pagination) }}
	</div>
</section>
{% endblock %}
