{% macro job_table(job_collection) %}
<table>
	<thead>
		<tr>
			<th>Project</th>
			<th>Job</th>
			<th>Enabled</th>
			{% if authorize_view("job-actions") %}
			<th>Actions</th>
			{% endif %}
			<th>Update date</th>
		</tr>
	</thead>
	<tbody>
		{% for job in job_collection %}
		<tr>
			<td><a href="{{ url_for('project_controller.show', project_identifier = job['project']) }}">{{ job['project_display_name'] }}</a></td>
			<td><a href="{{ url_for('job_controller.show', project_identifier = job['project'], job_identifier = job['identifier']) }}">{{ job['display_name'] }}</a></td>
			<td>
				{% if job['is_enabled'] %}
				<div class="status-group">
					<div class="status-indicator enabled"></div>
					<div class="status-text">Enabled</div>
				</div>
				{% else %}
				<div class="status-group">
					<div class="status-indicator disabled"></div>
					<div class="status-text">Disabled</div>
				</div>
				{% endif %}
			</td>
			{% if authorize_view("job-actions") %}
			<td>
				<form class="action-group" method="post">
					<button formaction="{{ url_for('job_controller.trigger', project_identifier = job['project'], job_identifier = job['identifier']) }}">Trigger</button>
					{% if job['is_enabled'] %}
					<button formaction="{{ url_for('job_controller.disable', project_identifier = job['project'], job_identifier = job['identifier']) }}">Disable</button>
					{% else %}
					<button formaction="{{ url_for('job_controller.enable', project_identifier = job['project'], job_identifier = job['identifier']) }}">Enable</button>
					{% endif %}
				</form>
			</td>
			{% endif %}
			<td>{{ job['update_date'] | format_date }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
