{% extends 'layout.html' %}

{% block content %}
<h1>Administration</h1>

<section>
	<div class="status-group">
		<div class="status-indicator {{ service_status['status'] }}"></div>
		{% if service_status['status'] == "available" %}
		<div class="status-text">Service available</div>
		{% else %}
		<div class="status-text">{{ service_status['status_message'] }} ({{ service_status['status_code'] }})</div>
		{% endif %}
	</div>
	<form class="action-group" method="post">
		<button formaction="{{ url_for('admin_controller.reload_service') }}">Reload master configuration</button>
	</form>
</section>

{% if website_information %}
<section>
	<h2>Website Information</h2>
	<ul>
		<li>Python: {{ website_information['python_version'] }}</li>
		<li>Website: {{ website_information['website_version'] }} ({{ website_information['website_version_date'] }})</li>
	</ul>
</section>
{% endif %}

{% if service_information %}
<section>
	<h2>Service Information</h2>
	<ul>
		<li>Python: {{ service_information['python_version'] }}</li>
		<li>Service: {{ service_information['service_version'] }} ({{ service_information['service_version_date'] }})</li>
	</ul>
</section>
{% endif %}

{% if external_service_collection %}
<section>
	<h2>External Services</h2>
	<table>
		<thead>
			<tr>
				<th>Service</th>
				<th>Status</th>
				<th>Rate limit</th>
			</tr>
		</thead>
		<tbody>
			{% for external_service in external_service_collection %}
			<tr>
				<td>
					{% if 'website_url' in external_service %}
					<a href="{{ external_service['website_url'] }}">{{ external_service["service"] }}</a>
					{% else %}
					{{ external_service["service"] }}
					{%endif %}
				</td>
				<td>
					<div class="status-group">
						<div class="status-indicator {{ external_service['status'] }}"></div>
						{% if 'status_url' in external_service %}
						<div class="status-text"><a href="{{ external_service['status_url'] }}">{{ external_service['status'] }}</a></div>
						{% else %}
						<div class="status-text">{{ external_service['status'] }}</div>
						{% endif %}
					</div>
				</td>
				<td>
					{% if 'rate_limit' in external_service %}
					<div class="status-group">
						<div class="status-indicator {{ external_service['rate_limit']['status'] }}"></div>
						<div class="status-text">{{ external_service['rate_limit']['status'] }}
							({{ external_service['rate_limit']['remaining']}} / {{ external_service['rate_limit']['limit'] }})</div>
					</div>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endif %}
{% endblock %}
