{% extends 'layout.html' %}
{% import 'build/macros.html' as build_macros %}

{% block content %}
<h1>Job {{ job['identifier'] }}</h1>

<section>
	<h2>Description</h2>
	<p>{{ job['description'] }}</p>
</section>

<section>
	<h2>Status</h2>
	<div class=status-grid>
		{% if job['is_enabled'] %}
		<div class="status-group">
			<div class="status-indicator enabled"></div>
			<div class="status-text">Enabled</div>
		</div>
		<form method="post">
			<button formaction="{{ url_for('disable_job', job_identifier = job['identifier']) }}">Disable</button>
		</form>
		{% else %}
		<div class="status-group">
			<div class="status-indicator disabled"></div>
			<div class="status-text">Disabled</div>
		</div>
		<form method="post">
			<button formaction="{{ url_for('enable_job', job_identifier = job['identifier']) }}">Enable</button>
		</form>
		{% endif %}
	</div>
</section>

<section>
	<h2>Trigger</h2>
	<form action="{{ url_for('trigger_job', job_identifier = job['identifier']) }}" method="post">
		<ul>
			{% for parameter in job['parameters'] %}
			<li>
				<label for="parameter-{{parameter['key']}}">{{ parameter['key'] }}</label>
				<input type="text" id="parameter-{{parameter['key']}}" name="parameter-{{ parameter['key'] }}"/>
			</li>
			{% endfor %}
			<li>
				<button type="submit">Trigger build</button>
			</li>
		</ul>
	</form>
</section>

<section>
	<h2><a href="{{ url_for('build_collection_index', job = job['identifier']) }}" title="View all builds">Builds</a></h2>
	{{ build_macros.build_table(job_builds) }}
</section>
{% endblock %}
