{% extends 'layout.html' %}
{% import 'schedule/macros.html' as schedule_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Schedules</h1>
<section>
	<div class="table-container">
		<form method="get" action="{{ url_for('schedule_collection_index') }}">
			<label for="input-project">Project</label>
			<select id="input-project" name="project">
				<option></option>
				{% for project in project_collection %}
					{% if request.args.get('project') == project['identifier'] %}
				<option selected>{{ project['identifier'] }}</option>
					{% else %}
				<option>{{ project['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="input-job">Job</label>
			<select id="input-job" name="job">
				<option></option>
				{% for job in job_collection %}
					{% if request.args.get('job') == job['identifier'] %}
				<option selected>{{ job['identifier'] }}</option>
					{% else %}
				<option>{{ job['identifier'] }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<button type="submit">Apply filters</button>
		</form>
		{{ shared_macros.page_navigation('schedule_collection_index', pagination) }}
		{{ schedule_macros.schedule_table(schedule_collection) }}
		{{ shared_macros.page_navigation('schedule_collection_index', pagination) }}
	</div>
</section>
{% endblock %}
