{% extends 'layout.html' %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Edit User</h1>

{{ shared_macros.flash_messages() }}

<section>
	<div>
		<a href="{{ url_for('user_index', user_identifier = user_identifier) }}">View</a>
	</div>
</section>

<section>
	<h2>Identity</h2>
	<form class="generic-form" method="post" action="{{ url_for('update_user_identity', user_identifier = user_identifier) }}">
		<label for="identifier">Identifier</label>
		<input type="text" class="text-input" id="identifier" name="identifier" value="{{ user_identifier }}" readonly>
		<label for="display_name">Display name</label>
		<input type="text" class="text-input" id="display_name" name="display_name" value="{{ request.form['display_name'] }}" required/>
		<button type="submit">Save</button>
	</form>
</section>

<section>
	<h2>Roles</h2>
	<form class="generic-form" method="post" action="{{ url_for('update_user_roles', user_identifier = user_identifier) }}">
		<textarea class="textarea-input" id="roles" name="roles">{{ request.form['roles'] }}</textarea>
		<button type="submit">Save</button>
	</form>
</section>
{% endblock %}
