{% macro user_table(user_collection) %}
<table>
	<thead>
		<tr>
			<th>Identifier</th>
			<th>Display name</th>
			<th>Enabled</th>
			<th>Actions</th>
			<th>Update date</th>
		</tr>
	</thead>
	<tbody>
		{% for user in user_collection %}
		<tr>
			<td><a href="{{ url_for('user_index', user_identifier = user['identifier']) }}">{{ user['identifier'] }}</a></td>
			<td>{{ user['display_name'] }}</td>
			<td>
				{% if user['is_enabled'] %}
				<div class="status-group">
					<div class="status-indicator enabled"></div>
					<div class="status-text">Enabled</div>
				</div>
				{% else %}
				<div class="status-group">
					<div class="status-indicator disabled"></div>
					<div class="status-text">Disabled</div>
				</div>
				{% endif %}
			</td>
			<td>
				<form class="action-group" method="post">
					{% if user['is_enabled'] %}
					<button formaction="{{ url_for('disable_user', user_identifier = user['identifier']) }}">Disable</button>
					{% else %}
					<button formaction="{{ url_for('enable_user', user_identifier = user['identifier']) }}">Enable</button>
					{% endif %}
				</form>
			</td>
			<td>{{ user['update_date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
