{% extends 'layout.html' %}
{% import 'user/macros.html' as user_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Users</h1>

{{ shared_macros.flash_messages() }}

{% if authorize_view("user-actions") %}
<section>
	<div class="link-group">
		<a href="{{ url_for('user_controller.create') }}">Create user</a>
	</div>
</section>
{% endif %}

<section>
	<div class="table-container">
		{{ shared_macros.page_navigation('user_controller.show_collection', pagination) }}
		{{ user_macros.user_table(user_collection) }}
		{{ shared_macros.page_navigation('user_controller.show_collection', pagination) }}
	</div>
</section>
{% endblock %}
