{% extends 'layout.html' %}

{% block content %}
<h1>Workers</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Active</th>
				<th>Enabled</th>
				<th>Actions</th>
				<th>Update date</th>
			</tr>
		</thead>
		<tbody>
			{% for worker in worker_collection %}
			<tr>
				<td><a href="{{ url_for('worker_index', worker_identifier = worker['identifier']) }}">{{ worker['identifier'] }}</a></td>
				<td>{{ worker['is_active'] }}</td>
				<td>{{ worker['is_enabled'] }}</td>
				<td>
					<form class="action-group" method="post">
						{% if worker['is_active'] %}
						<button formaction="{{ url_for('stop_worker', worker_identifier = worker['identifier']) }}">Stop</button>
						{% else %}
						<button formaction="{{ url_for('stop_worker', worker_identifier = worker['identifier']) }}" disabled>Stop</button>
						{% endif %}
						{% if worker['is_enabled'] %}
						<button formaction="{{ url_for('disable_worker', worker_identifier = worker['identifier']) }}">Disable</button>
						{% else %}
						<button formaction="{{ url_for('enable_worker', worker_identifier = worker['identifier']) }}">Enable</button>
						{% endif %}
					</form>
				</td>
				<td>{{ worker['update_date'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
