html
{
	overflow-y: scroll;
	height: 100%;
}

h1, p, ul
{
	margin: 0;
}

body
{
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"header header"
		"announcement announcement"
		"nav main"
		"footer footer";
	margin: 0;
	min-height: 100%;
	background: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}

header { grid-area: header; }
#announcement { grid-area: announcement; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }

header, nav, main, footer
{
	padding: 10px;
	background: white;
}

header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	margin-bottom: 5px;
}

header > div
{
	margin: 5px;
}

header .title a
{
	font-size: 150%;
	text-decoration: none;
}

header .title a, header .title a:visited, header .title a:hover, header .title a:active
{
	color: inherit;
}

header .login
{
	display: flex;
	justify-content: space-between;
}

header .login span
{
	margin-left: 10px;
}

header .login a
{
	display: inline;
}

#announcement
{
	margin-bottom: 5px;
	padding: 10px;
	text-align: center;
}

#announcement.info { background: lightblue; }
#announcement.warning { background: orange; }
#announcement.error { background: red; }

nav
{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	margin-right: 5px;
	min-width: 100px;
}

nav > div
{
	display: flex;
	flex-direction: column;
	margin: 5px 5px 15px 5px;
}

nav > div > a
{
	line-height: 150%;
}

main
{
	display: flex;
	flex-direction: column;
}

footer
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 5px;
	text-align: center;
	font-size: 80%;
	color: #555;
}

footer > p
{
	margin: 5px;
}

h1
{
	margin: 5px 5px 15px 5px;
	font-size: 150%;
}

section
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
}

section > h2
{
	margin: 5px;
	font-size: 120%;
}

section > div, section > form, section > table, section > ul, section > p
{
	margin: 5px;
}

section > ul li
{
	margin: 5px 0;
}

a, img
{
	display: block;
}

table
{
	border-collapse: collapse;
	white-space: nowrap;
}

th, td
{
	padding: 5px 10px;
	border: 1px solid gray;
}

form input
{
	padding: 5px;
	border: gray 1px solid;
}

form input:read-only
{
	background-color: #eeeeee;
}

form select
{
	padding: 5px;
	border: gray 1px solid;
	min-width: 100px;
}

form textarea
{
	padding: 5px;
	min-height: 100px;
	max-height: 300px;
	resize: vertical;
	border: gray 1px solid;
}

form button
{
	white-space: nowrap;
}

.generic-form
{
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	align-items: center;
}

.generic-form > label
{
	text-align: right;
}

.generic-form > textarea
{
	grid-column: 1 / span 2;
}

.generic-form > button
{
	grid-column: 2;
	margin-left: auto;
	padding: 5px;
	min-width: 100px;
}

.flash .info
{
	color: green;
}

.flash .error
{
	color: red;
}

.link-group
{
	display: flex;
	flex-direction: row;
}

.link-group > a
{
	margin: 0 5px;
}

.table-container
{
	display: flex;
	flex-direction: column;
}

.table-container > form
{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
}

.table-container > form > label
{
	margin: 0 10px 0 30px;
}

.table-container > form > button
{
	margin: 0 30px 0 30px;
	padding: 5px;
	min-width: 100px;
}

.page-navigation
{
	display: flex;
	flex-direction: row;
	margin: 10px 50px 0 50px;
}

.page-navigation > p
{
	margin: 0 5px;
}

.page-navigation > a
{
	margin: 0 5px;
	color: blue;
	text-decoration: none;
}

.page-navigation > a:visited
{
	color: blue;
}

.page-navigation > .disabled
{
	visibility: hidden;
}
