html
{
	overflow-y: scroll;
	height: 100%;
}

h1, p, ul
{
	margin: 0;
}

body
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"nav main"
		"footer footer";
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 0;
	min-height: 100%;
	background: lightgray;
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }

header, nav, main, footer
{
	padding: 10px;
	background: white;
}

header a
{
	margin: 5px;
	font-size: 150%;
	text-decoration: none;
}

header a, header a:visited, header a:hover, header a:active
{
	color: inherit;
}

nav
{
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

nav > div
{
	display: flex;
	flex-direction: column;
	margin: 5px 5px 15px 5px;
}

nav > div > a
{
	line-height: 150%;
}

main
{
	display: flex;
	flex-direction: column;
}

footer
{
	text-align: center;
	font-size: 80%;
	color: #555;
}

h1
{
	margin: 5px 5px 15px 5px;
	font-size: 150%;
}

section
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
}

section > h2
{
	margin: 5px;
	font-size: 120%;
}

section > div, section > form, section > table, section > ul, section > p
{
	margin: 5px;
}

section > ul li
{
	margin: 5px 0;
}

a, img
{
	display: block;
}

table
{
	border-collapse: collapse;
}

th, td
{
	padding: 5px;
	border: 1px solid gray;
}

form ul
{
	padding: 0px;
}

form li
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}

form li label
{
	width: 100px;
	margin-right: 10px;
	text-align: right;
}

form li input
{
	flex-grow: 1;
	padding: 5px;
	border: gray 1px solid;
}

form li input:read-only
{
	background-color: #eeeeee;
}

form li button
{
	margin-left: auto;
	padding: 5px;
	min-width: 100px;
	white-space: nowrap;
}

form select
{
	min-width: 100px;
}

table
{
	white-space: nowrap;
}

.flash .info
{
	color: green;
}

.flash .error
{
	color: red;
}

.table-container
{
	display: flex;
	flex-direction: column;
}

.table-container > form > ul
{
	display: flex;
	flex-direction: row;
}

.table-container > form > ul > li
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 30px 10px 0;
}

.table-container > form > ul > li:last-child
{
	margin-right: 0;
}

.table-container > form > ul > li > label
{
	width: auto;
	margin-right: 10px;
}

.page-navigation
{
	display: flex;
	flex-direction: row;
	margin: 10px 50px 0 50px;
}

.page-navigation > p
{
	margin: 0 5px;
}

.page-navigation > a
{
	margin: 0 5px;
	color: blue;
	text-decoration: none;
}

.page-navigation > a:visited
{
	color: blue;
}

.page-navigation > .disabled
{
	visibility: hidden;
}
