{% extends 'layout.html' %}

{% block content %}
<h1>Project status for {{ project_identifier }}</h1>

<section>
	<div class="table-container">
		<table class="project-status-table">
			<thead>
				<tr>
					<th>Revision</th>
					{% for run_filter in project_context['filter_collection'] %}
					<th><a href="{{ url_for('job_index', job_identifier = run_filter['job']) }}">{{ run_filter['identifier'] }}</a></th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for revision in project_status %}
				<tr>
					<td>
						<div class="revision-header">
							<a href="{{ revision['url'] }}">{{ revision['identifier_short'] }}</a>
							<p class="date">{{ revision['date'] }}</p>
						</div>
					</td>
					{% for run_filter in project_context['filter_collection'] %}
					<td>
						{% for run in revision['runs_by_filter'][run_filter['identifier']] %}
						<div class="status-group">
							<div class="status-indicator {{ run['status'] }}" title="{{ run['status'] }}"></div>
							<a href="{{ url_for('run_index', run_identifier = run['identifier']) }}">{{ run['identifier'][:18] }}</a>
						</div>
						{% endfor %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
