<!doctype html>
<html>

	<head>
		<title>{{ title }} - {{ config['WEBSITE_TITLE'] }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'font_awesome/css/fontawesome.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'font_awesome/css/solid.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'generic.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'orchestra.css') }}"/>
	</head>

	<body>

		{% if 'WEBSITE_ANNOUNCEMENT' in config %}
		<div id="announcement" class="{{ config['WEBSITE_ANNOUNCEMENT_TYPE'] }}">
			<p>{{ config['WEBSITE_ANNOUNCEMENT'] }}</p>
		</div>
		{% endif %}

		<header>
			<div class="title">
				<a href="{{ url_for('website.home') }}">{{ config['WEBSITE_TITLE'] }}</a>
			</div>
			<div class="login">
				{% if not 'token' in session %}
				<span><a href="{{ url_for('me_controller.login') }}">Log In</a></span>
				{% else %}
				<span>Logged in as <a href="{{ url_for('me_controller.show_profile') }}">{{ session["user"]["display_name"] }} ({{ session["user"]["identifier"] }})</a></span>
				<span><a href="{{ url_for('me_controller.logout') }}">Log Out</a></span>
				{% endif %}
			</div>
		</header>

		<nav>
			{% if authorize_view('nav-admin') %}
			<div>
				<a href="{{ url_for('admin_controller.index') }}">Admin</a>
			</div>
			{% endif %}
			{% if authorize_view('nav-main') %}
			<div>
				<a href="{{ url_for('project_controller.show_collection') }}">Projects</a>
				<a href="{{ url_for('user_controller.show_collection') }}">Users</a>
				<a href="{{ url_for('worker_controller.show_collection') }}">Workers</a>
			</div>
			{% endif %}
		</nav>

		<main>

			{% block content %}{% endblock %}

		</main>

		<footer>
			{% if config['WEBSITE_VERSION'] %}
			<p>Version {{ config['WEBSITE_VERSION'] }} ({{ config['WEBSITE_DATE'] }})</p>
			<p>{{ config['WEBSITE_COPYRIGHT'].replace("(c)", "©") }}</p>
			{% else %}
			<p>Development Version</p>
			{% endif %}
		</footer>

	</body>

	{% block scripts %}{% endblock %}

</html>
