{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories = True) %}
{% if messages %}
<section class="flash">
	{% for category, message in messages %}
		{% if category == 'info' %}
	<p class="{{ category }}"><i class="fas fa-info-circle"></i> {{ message }}</p>
		{% elif category == 'success' %}
	<p class="{{ category }}"><i class="fas fa-check-circle"></i> {{ message }}</p>
		{% elif category == 'error' %}
	<p class="{{ category }}"><i class="fas fa-exclamation-circle"></i> {{ message }}</p>
		{% elif category == 'warning' %}
	<p class="{{ category }}"><i class="fas fa-exclamation-circle"></i> {{ message }}</p>
		{% else %}
	<p class="{{ category }}">{{ message }}</p>
		{% endif %}
	{% endfor %}
</section>
{% endif %}
{% endwith %}
{% endmacro %}

{% macro page_navigation(endpoint, pagination) %}
<div class="page-navigation">
	{% set url_arguments = (request.args | strip_pagination_arguments) %}
	{% if pagination['page_number'] == 1 %}
	<a href="{{ url_for(endpoint, page = 1, item_count = pagination['item_count'], **url_arguments) }}" title="First page" class="disabled"> << </a>
	<a href="{{ url_for(endpoint, page = 1, item_count = pagination['item_count'], **url_arguments) }}" title="Previous page" class="disabled"> < </a>
	{% else %}
	<a href="{{ url_for(endpoint, page = 1, item_count = pagination['item_count'], **url_arguments) }}" title="First page"> << </a>
	<a href="{{ url_for(endpoint, page = pagination['page_number'] - 1, item_count = pagination['item_count'], **url_arguments) }}" title="Previous page"> < </a>
	{% endif %}
	<p>Page {{ pagination['page_number'] }} / {{ pagination['page_total'] }}</p>
	<p>({{ pagination['item_total'] }} items)</p>
	{% if pagination['page_number'] == pagination['page_total'] %}
	<a href="{{ url_for(endpoint, page = pagination['page_total'], item_count = pagination['item_count'], **url_arguments) }}" title="Next page" class="disabled"> > </a>
	<a href="{{ url_for(endpoint, page = pagination['page_total'], item_count = pagination['item_count'], **url_arguments) }}" title="Last page" class="disabled"> >> </a>
	{% else %}
	<a href="{{ url_for(endpoint, page = pagination['page_number'] + 1, item_count = pagination['item_count'], **url_arguments) }}" title="Next page"> > </a>
	<a href="{{ url_for(endpoint, page = pagination['page_total'], item_count = pagination['item_count'], **url_arguments) }}" title="Last page"> >> </a>
	{% endif %}
</div>
{% endmacro %}
