{% extends 'layout.html' %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Log In</h1>

{{ shared_macros.flash_messages() }}

<section>
	<form class="generic-form" method="post" action="{{ url_for('me_controller.login') }}">
		<label for="input-user">User</label>
		{% if 'user' in request.form %}
		<input type="text" class="text-input" id="input-user" name="user" value="{{ request.form['user'] }}" required/>
		{% else %}
		<input type="text" class="text-input" id="input-user" name="user" required/>
		{% endif %}
		<label for="input-password">Password</label>
		<input type="password" class="text-input" id="input-password" name="password" required/>
		<button type="submit">Log in</button>
	</form>
</section>
{% endblock %}
