{% extends 'layout.html' %}
{% import 'user/macros.html' as user_macros %}
{% import 'macros.html' as shared_macros %}

{% block content %}
<h1>Profile</h1>

{{ shared_macros.flash_messages() }}

<section>
	<h2>Identity</h2>
	<ul>
		<li>Identifier: {{ user['identifier'] }}</li>
		<li>Display name: {{ user['display_name'] }}</li>
	</ul>
</section>

<section>
	<h2>Roles</h2>
	<ul>
		{% for role in user['roles'] %}
		<li>{{ role }}</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h2>Status</h2>
	<div class="status-grid">
		{% if user['is_enabled'] %}
		<div class="status-group">
			<div class="status-indicator enabled"></div>
			<div class="status-text">Enabled</div>
		</div>
		{% else %}
		<div class="status-group">
			<div class="status-indicator disabled"></div>
			<div class="status-text">Disabled</div>
		</div>
		{% endif %}
	</div>
	<ul>
		<li>Creation date: {{ user['creation_date'] }}</li>
		<li>Update date: {{ user['update_date'] }}</li>
	</ul>
</section>

<section>
	<h2>Security</h2>
	<div class="link-group">
		<a href="{{ url_for('me_controller.change_password') }}">Change Password</a>
		<a href="{{ url_for('me_controller.create_token') }}">Create token</a>
	</div>
	{{ user_macros.my_token_table(user_tokens) }}
</section>
{% endblock %}
