{% extends 'layout.html' %}
{% import 'run/macros.html' as run_macros %}
{% import 'task/macros.html' as task_macros %}

{% block content %}
<h1>Worker {{ worker['identifier'] }}</h1>

<section>
	<h2>Status</h2>
	<div class="status-grid {{ '' if authorize_view('worker-actions') else 'readonly' }}">
		{% if worker['is_active'] %}
		<div class="status-group">
			<div class="status-indicator active"></div>
			<div class="status-text">Active</div>
		</div>
			{% if authorize_view("worker-actions") %}
		<form method="post">
			<button formaction="{{ url_for('worker_controller.stop', worker_identifier = worker['identifier']) }}">Stop</button>
		</form>
			{% endif %}
		{% else %}
		<div class="status-group">
			<div class="status-indicator inactive"></div>
			<div class="status-text">Inactive</div>
		</div>
			{% if authorize_view("worker-actions") %}
		<form method="post">
			<button formaction="{{ url_for('worker_controller.stop', worker_identifier = worker['identifier']) }}" disabled>Stop</button>
		</form>
			{% endif %}
		{% endif %}
		{% if worker['is_enabled'] %}
		<div class="status-group">
			<div class="status-indicator enabled"></div>
			<div class="status-text">Enabled</div>
		</div>
			{% if authorize_view("worker-actions") %}
		<form method="post">
			<button formaction="{{ url_for('worker_controller.disable', worker_identifier = worker['identifier']) }}">Disable</button>
		</form>
			{% endif %}
		{% else %}
		<div class="status-group">
			<div class="status-indicator disabled"></div>
			<div class="status-text">Disabled</div>
		</div>
			{% if authorize_view("worker-actions") %}
		<form method="post">
			<button formaction="{{ url_for('worker_controller.enable', worker_identifier = worker['identifier']) }}">Enable</button>
		</form>
			{% endif %}
		{% endif %}
	</div>
</section>

<section>
	<h2><a href="{{ url_for('worker_controller.show_runs', worker_identifier = worker['identifier']) }}" title="View all runs">Runs</a></h2>
	{{ run_macros.run_table(run_collection) }}
</section>

<section>
	<h2><a href="{{ url_for('task_controller.show_collection', worker = worker['identifier']) }}" title="View all tasks">Tasks</a></h2>
	{{ task_macros.task_table(task_collection) }}
</section>
{% endblock %}
