{% macro worker_table(worker_collection) %}
<table>
	<thead>
		<tr>
			<th>Identifier</th>
			<th>Active</th>
			<th>Enabled</th>
			{% if authorize_view("worker-actions") %}
			<th>Actions</th>
			{% endif %}
			<th>Update date</th>
		</tr>
	</thead>
	<tbody>
		{% for worker in worker_collection %}
		<tr>
			<td><a href="{{ url_for('worker_controller.show', worker_identifier = worker['identifier']) }}">{{ worker['display_name'] }}</a></td>
			<td>
				{% if worker['is_active'] %}
				<div class="status-group">
					<div class="status-indicator active"></div>
					<div class="status-text">Active</div>
				</div method="post">
				{% else %}
				<div class="status-group">
					<div class="status-indicator inactive"></div>
					<div class="status-text">Inactive</div>
				</div>
				{% endif %}
			</td>
			<td>
				{% if worker['is_enabled'] %}
				<div class="status-group">
					<div class="status-indicator enabled"></div>
					<div class="status-text">Enabled</div>
				</div>
				{% else %}
				<div class="status-group">
					<div class="status-indicator disabled"></div>
					<div class="status-text">Disabled</div>
				</div>
				{% endif %}
			</td>
			{% if authorize_view("worker-actions") %}
			<td>
				<form class="action-group" method="post">
					{% if worker['is_active'] %}
					<button formaction="{{ url_for('worker_controller.stop', worker_identifier = worker['identifier']) }}">Stop</button>
					{% else %}
					<button formaction="{{ url_for('worker_controller.stop', worker_identifier = worker['identifier']) }}" disabled>Stop</button>
					{% endif %}
					{% if worker['is_enabled'] %}
					<button formaction="{{ url_for('worker_controller.disable', worker_identifier = worker['identifier']) }}">Disable</button>
					{% else %}
					<button formaction="{{ url_for('worker_controller.enable', worker_identifier = worker['identifier']) }}">Enable</button>
					{% endif %}
				</form>
			</td>
			{% endif %}
			<td>{{ worker['update_date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
